$red_1: #ff2c00;

$green_1: #01a400;

$blue_1: #14bef0;

$grey_1: #f0f0f5;
$grey_2: #cacad3;

$white_1: #ffffff;

$padding_3: 3px;
$padding_8: 8px;
$padding_12: 12px;
$padding_16: 16px;

$margin_3: 3px;
$margin_8: 8px;

$font_12: 12px;
$font_13: 13px;
$font_14: 14px;
$font_18: 18px;

$seperator_color: rgba(144, 164, 174, 0.3);
$button_border_color: rgb(3, 169, 244);
$button_hover_color: rgb(25, 118, 210);

$font-weight-bold: 700;
