$red_1: #ff2c00;

$green_1: #01a400;

$blue_1: #14bef0;

$grey_1: #f0f0f5;
$grey_2: #cacad3;

$white_1: #ffffff;

$padding_3: 3px;
$padding_16: 16px;

$margin_3: 3px;
$margin_8: 8px;

$font_13: 13px;
$font_14: 14px;
